<div class="flexbox" style="padding: 16px;">
  <div class="flexitem">
    <div>
      <div class="picture_profile">
        <img src="/pictures/profile_picture.jpg" alt="profile_picture">
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">Thays Ribeiro</p>
            <p class="regular">System Development Technician</p>
          </div>
          <ul class="resume_list">
            <li>
              <i class="fas fa-map-signs icon"></i>
                23 Ash Tree Ln, Irvine, CA - <b>USA</b>
            </li>
            <li>
              <i class="fas fa-mobile-alt icon"></i>
              <div class="data">
                +342 4456899
              </div>
            </li>
            <li>
              <div class="fas fa-envelope icon"></div>
              <div class="data">
                stephen@gmail.com
              </div>
            </li>
            <li>
              <div class="fas fa-globe icon"></div>
              <div class="data">
                www.stephen
              </div>
            </li>
            </li>
            <li>
              <div class="fab fa-facebook-square icon"></div>
              <div class="data">
                thays@facebook
              </div>
            </li>
            </li>
            <li>
              <div class="fab fa-twitter-square icon"></div>
              <div class="data">
                thays@twitter
              </div>
            </li>
            </li>
            <li>
              <div class="fab fa-youtube icon"></div>
              <div class="data">
                thays@youtube
              </div>
            </li>
            </li>
            <li>
              <div class="fab fa-linkedin icon"></div>
              <div class="data">
                thays@linkedin
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      
  </div>
  <div class="flexitem md-5">
    <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">Skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">HTML</div>
            <div class="skill_progress">
              <spa style="width: 80%;"></spa>
            </div>
            <div class="skill_per">80%</div>
          </li>
          <li>
            <div class="skill_name">CSS</div>
            <div class="skill_progress">
              <spa style="width: 70%;"></spa>
            </div>
            <div class="skill_per">70%</div>
          </li>
          <li>
            <div class="skill_name">JS</div>
            <div class="skill_progress">
              <spa style="width: 60%;"></spa>
            </div>
            <div class="skill_per">60%</div>
          </li>
          <li>
            <div class="skill_name">JQUERY</div>
            <div class="skill_progress">
              <spa style="width: 88%;"></spa>
            </div>
            <div class="skill_per">88%</div>
          </li>
        </ul>
      </div>
  </div>
  <div class="flexitem md-6"> quadrado</div>
  </div>
</div>