<header class="teste">
        {{> top}}
    </header>
<main class="teste container">
        <section  class="teste item1">
        {{> left}}
    </section>
    <section class="teste item2">
        {{> middle}}
    </section>
    <section class="teste item3">
        {{> right}}
    </section>
</main>