<div class="flexbox" style="padding: 16px">
  <div class="flexitem">
    <div class="corpo">
      <div class="picture_profile">
        <img src="/pictures/profile_picture.jpg" alt="profile_picture">
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">Thays Ribeiro</p>
            <p class="italic">System Development Technician</p>
          </div>
          <hr class="line">

          <section>
          <div class="objetivos"> 
            <p> Plans <br>
            JNFDKJJCNKJXNV KJSDZJCNKFV ZDVKHNJKSDLKDS SDIVJKSDNVKL
            </p>
          </div>
          </section>

          <ul class="resume_list">

            <li>
              <a class="btn-strech">
                <i class="fas fa-map-signs icon"></i>
                <p>
                  <label>Address</label> <br>
                  23 Ash Tree Ln, Irvine, CA-USA
                </p>
              </a>
            </li>

            <li>
              <a class="btn-strech">
                <i class="fas fa-mobile-alt icon"></i>
                <p>
                  <label>Cellphone</label> <br>
                  +342 4456899
                </p>
              </a>
            </li>

            <li>
              <a class="btn-strech">
                <i class="fas fa-envelope icon"></i>
                <p>
                  <label>E-mail</label> <br>
                  stephen@gmail.com
                </p>
              </a>
            </li>

            <li>
              <a class="btn-strech">
                <i class="fab fa-github icon"></i>
                <p>
                  <label>Github</label> <br>
                  thays@github
                </p>
              </a>
            </li>

            <li>
              <a class="btn-strech">
                <i class="fab fa-linkedin icon"></i>
                <p>
                  <label>linkedin</label> <br>
                  thays@linkedin
                </p>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flexitem">
    <div class="item2"> Skills <br>
      <div class="circle-border">
        <div class="skill_circle">
          <div class="skill">HTML5</div>
          <div class="details">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
              width="100px"> Prisma, Express,<br> Mysql, Mongodb
          </div>
          <br>
          <br>
          <br>
          
        </div>
      </div>
    </div>
  </div>
  <div class="flexitem"> quadrado
  </div>