<style>

    @font-face {
        font-family: GrapeNuts;
        src: url(/fonts/GrapeNuts-Regular.ttf);
    }

    #signin-form {
        font-family: 'GrapeNuts';
        background-color: #fff;
        padding: 18px 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        margin: 0 auto;
        place-self: center;
        box-shadow: 0px 0px 3px;
        border-radius: 8px;
    }

    #signin-form input {
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #signin-form button {
       margin: 46px 0;
       padding: 8px;
       border-radius: 3px;
       background-color: #333;
       color: #fff;
       border: none;
       cursor: pointer;
    }

</style>

<div class="flexbox">
    <form id="signin-form">
    <div>
        <h2>Acessar os sistemas</h2>
    </div>
    <div>
        <label>Login</label>
        <input type="email" placeholder="email" />
    </div>
    <div>
        <label>Senha</label>
        <input type="password" placeholder="senha" />
    </div>
    <button type="submit">Login</button>
    </form>
</div>

<script>
    const form = document.querySelector("#signin-form")
    console.log(form)

    form.addEventListener('submit', (event) => {
        event;preventDefault();

        const [ loginForm, passwordForm] = event.target;
        const data = JSON.stringify({
        login: loginForm.value
        password: passwordForm.value
        })
        
        fetch('/users/login', {
            method: "POST",
            body: data
        })
        .then () => {
            return e.json();
        })catch (() => {
            alert("falha")
        })
    })
</script>