@import url('https://fonts.googleapis.com/css2family=Roboto&display=swap');

*{
    list-style-type: none;
}

body {
    font-family: 'Roboto';
    margin: 0;
    background-color: #fafafa;
}

.bold {
    font-weight: 550;
}

.italic {
    font-style: italic;
}

.navega {
    background-color: blueviolet;
    color: aliceblue;
}

.navega ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

.navega ul li {
    float: left;
}

.navega ul li:nth-child(3) {
    float: right;
}

.navega ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navega ul li:hover {
    background-color: #111;
}

@media (min-width: 933px){
    .flexbox {
        display: flex;
        align-items: stretch;
        min-height: calc(100vh -48px);
    }
    .flexitem {
        display: flex;
        height: auto;
        width: 100%;
    }
    .md-4 {
        width: 30%;
    }
    .md-5 {
        width: 40%;
    }
    .md-6 {
        width: 50%;
    }
}

.rounded{
    margin: 4px;
    padding: 8px;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}