@import url('https://fonts.googleapis.com/css2family=Roboto&display=swap');

* {
    list-style-type: none;
}

body {
    font-family: 'Roboto';
    margin: 0;
    background-color: #fafafa;
}

.navega {
    background-color: transparent;
    position: fixed;
    top: 0%;
    width: 100%;
}

.navega ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.navega ul li {
    float: left;
}

.navega ul li:nth-child(3) {
    float: right;
}

.navega ul li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navega ul li:hover {
    background-color: #111;
}

.teste {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
}
