.container {
    display: flex;
    /* transform: translateY(400px); */
    margin-top: 60px;
    height: 100vh;
    z-index: 2;
}

.item1 {
    box-sizing: border-box;
    width: 50%;
    background: linear-gradient(201deg, transparent 190px, white 20px);
}

.item2 {
    box-sizing: border-box;
    width: 16%;
    justify-content: center;
}

.item3 {
    box-sizing: border-box;
    width: 50%;
    background: linear-gradient(-201deg, transparent 190px, white 20px);
}

header {
    width: auto;
    height: 400px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    background-image: url(/pictures/land.jpg);
    opacity: 0.8;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

