.picture_profile img {
    width: 230px;
    height: 230px;
    border-radius: 50px;
}

.bold {
    font-weight: 550;
}

.icon {
    padding: 5px;
    font-size: 12px;
}

.resume_list{
    padding: 0;
}

.resume_list li{
    padding: 0px 15px;
    display: flex;
}

